<h1>投稿を編集するページ</h1>
<div class="post-edit">
  <div class="container">
    <% @post.errors.full_messages.each do |message| %>
    <div class="error">
      <%= message %>
    </div>
    <% end %>
    <%= form_tag("/posts/#{@post.id}/update") do %>
    <div class="form">
      <div class="form-body">
        <div>
          <textarea name="content"><%= @post.content %></textarea>
        </div>
        <input type="submit" value="送信">
        <% end %>
      </div>
    </div>
  </div>
</div>
