// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "UTF-8";

/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html{
  font-size: 16px;
}
body {
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
  display: block;
}
ul, ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: bottom;
}
a img {
  border: none;
}
strong {
  font-weight: normal;
}
i{
  font-style: normal;
}

/* headerのレイアウト**************************************** */

header a{
  text-decoration: none;
  color:#30546a;
}

header{
  width: 100%;
  padding: 15px;
  float: left;
  background-color: #66FF00
}

.header-logo{
  float: left;
  line-height: 64px;
}

.header-list{
  float: right;
  line-height: 64px;
}

.header-list li {
  float: left;
  padding: 0 30px;
}


/* formの共通レイアウト ================================ */

.form{
  margin: 0 auto;
  width: 600px;
  box-shadow: 1px 0 2px 1px #999;
}

.form-body{
  padding: 40px;
}

.form-body textarea{
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid #d8dadf;
}


.form-body input{
  font-size: 20px;
  padding: 10px;
  border: 1px solid #d8dadf;
}

/* ================================ */

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding:20px;
}

.about{
  height: 400px;
}

.flash{
}
